*.sublime-*
*.pyc
.idea
.coverage
htmlcov
settings.ini
twistd.pid
website/_site/
dataviz_workspace/DataVizProj
dataviz_workspace/python tips and tricks.txt - Shortcut.lnk
dataviz_workspace/a1 current python goal.txt - Shortcut.lnk
